body {
	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	font-size: 48px;
	text-align: center;
	border: 2px solid black;
	padding: 10px;
}


.intro {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

form#movie-search {
	margin-left: 10px;
	margin-right: 1
}

input#title:after {
	content: "\a";0px;
}

input#title {
	width: 250px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

input#submit {
	width: 170px;
}

.result {
	border: 1px solid black;
	margin-top: 20px;
	padding: 16px;
	height: 408px;
	text-align: center;
}

.hidden {
	display: none;
}

.label {
	font-weight: bold;
	margin-top: 0;
}

.title {
	color: black;
}

@media only screen and (min-width: 640px) {
	.intro {
		width: 70%;
	}
}