body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	padding: 10px;
	font-size: 48px;
	text-align: center;
	border: 2px solid black;
}


.intro {
	width: 50%;
	margin: 0 auto;
	text-align: justify;
}

input#title {
	width: 250px;
}

.result {
	border: 1px solid black;
	width: 250px;
}

.hidden {
	display: none;
}

.label {
	font-weight: bold;
}